<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Ufuk Turuncoglu obtained his undergraduate degree from Department of Meteorological Engineering at Istanbul Technical University (ITU) in 2000. He completed MSc degree in 2003 in Eurasia Institute of Earth Sciences, Climate and Marine Sciences department and started PhD study in the same year at ITU, Informatics Institute, Computational Science and Engineering. As a part of his PhD research, he worked as visiting scholar at National Center for Atmospheric Research (NCAR), Boulder, CO, USA in 2009. After graduated from the PhD in 2010, he started to work as a visiting scientist in International Center for Theoretical Physics (ICTP),  Earth System Physics (ESP) section, Trieste, Italy. In 2012, he started to work at ITU, Informatics Institute, Computational Science and Engineering as an Assistant Professor. Currently, he continues to work in the same department along with the regular associate position in ICTP, ESP Section.
</div>
<div>
    His main areas of interest are computational simulation of atmosphere and ocean model components, visualization with in situ techniques, process automation with scientific workflow systems and climate science. He is also interested in the design and development of coupled Earth system models.
</div>
